
#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
}
#header a,#login-info span {
    color: #999;
}
#login-info{
    float: left;
}
#quick-menu{
    float: right;
}
#quick-menu .menu{
    float: left;
    position: relative;
    padding: 0 2px;
}
#header a{
    margin: 0 14px;
}
#header a:hover{
    color: #FF0036;
}
#quick-menu ul li ul{
    display: none;
}
#quick-menu li:hover ul{
    display: block;
}
#quick-menu .menu .menu1>li{
    font-size: 10px;
    margin: 0 2px;
}

#header .triangle::after{
    content: '';
    border: 3px;
    border-style: solid;
    border-top-color: #bbb;
    border-right-color:transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -2px;
}
#header .icon-gouwuchekong,#header .icon-shouji,#header .icon-daohang{
    font-size: 12px;
    color: #ff0000;
    position: absolute;
    margin-left: 2px;
}
