/*header的开始*/
#header .icon-gouwuchekong,#header .icon-shouji,#header .icon-daohang{
    font-size: 12px;
    color: #ff0000;
}
#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px solid #aaa;
}
#header a,#login-info span {
    color: #999;
}
#login-info{
    float: left;
}
#login-info .sn-login{
    padding-right: 10px;
    padding-left: 20px;
}
#login-info .sn-register{
    padding: 0 10px;
}
#quick-menu{
    float: right;
}
#quick-menu .menu{
    float: left;
    position: relative;
    padding: 0 14px;
}
#header a:hover{
    color: #FF0036;
}

#header .triangle::after{
    content: '';
    border: 3px;
    border-style: solid;
    border-top-color: #bbb;
    border-right-color:transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -2px;
    transition: none;
    transform-origin: 3px 1.5px;
}
#quick-menu .triangle{
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    position: relative;
}
#quick-menu .separator{
    width: 1px;
    height: 14px;
    background-color: #ccc;
    padding: 0;
    margin: 9px 5px;
}
#header .triangle:hover{
    background-color: #fff;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #e5e5e5;
    cursor: pointer;
}
#header .triangle:hover > a{
    text-decoration: underline;
    color: #ff0036;
}
#header .triangle:hover::after{
    transform: rotate(180deg);
    transform-origin: 3px 1.5px;
    transition: transform 0.4s linear;
}
#header .triangle .submenu{
    top: 32px;
    width: 86px;
    display: none;
    position: absolute;
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    left: -1px;
    padding: 0 14px;
}

#header .triangle:hover .submenu{
    display: block;
}

#header .submenu a:hover{
    text-decoration: underline;
}
#header .qr-code{
    width: 175px;
    height: 227px;
    border: 1px solid #ffffff;
    position: absolute;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px #aaaaaa;
    -moz-box-shadow: 0 0 5px #aaaaaa;
    box-shadow: 0 0 5px #aaaaaa;
    top: 25px;
    left: -58px;
    display: none;
    z-index: 999;
}
#header .qr-code::after{
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent #ffffff transparent;
    width: 0;
    top: -10px;
    position: absolute;
    left: 98px;
}
#header .mobile-link:hover .qr-code{
    display: block;
}
#header .triangle .merchant {
    width: 122px;
    float: left;
    left: -75px;
    font-size: 8px;
    color: #666;
    /*margin-right: 20px;*/
    line-height: 23px;
    z-index: 999;
}
#header .triangle .merchant h3{
    font-size: 100%;
    font-weight: 700;
}
#header .triangle .merchant > li:nth-child(1){
    float: left;
    margin-right: 20px ;
    border-bottom: 1px dashed #000;
}
#header .triangle .merchant > li:nth-child(2){
    float: left;
    margin-right: 20px ;
    border-bottom: 1px dashed #000;
    margin-bottom: 10px;
}
#header .triangle .merchant a{
    margin: 2px;
}
#header .menu-web{
    width: 1198px;
    border-width: 0 1px 1px 1px;
    border-color: #e5e5e5;
    position: absolute;
    border-style: solid;
    top: 33px;
    left: -1107.5px;
    height: 110px;
    padding-top:25px;
    padding-bottom: 25px;
    display: none;
    background-color: #ffffff;
    z-index: 999;
}
#header .menu-web a:link{
    color: #666666;
}
#header .site-cont {
    height: 110px;
    padding-left:25px;
    /*position: relative;*/
}
#header .site-cont h2{
    color: #f56a00;
    font-size: 16px;
    padding-bottom: 8px;
}
#header .site-cont span{
    padding-left: 6px;
}
#header .site-cont li{
    float: left;
}
#header .site-hot{
    float: left;
    width: 455px;
}
#header .site-hot a:hover{
    color: #f56a00;
}
#header .site-market a:hover{
    color: #2263d4;
}
#header .site-help a:hover{
    color: #666666;
}
#header .site-market h2{
    color: #2263d4;
}
#header .site-market{
    float: left;
    width: 455px;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}
#header .site-help{
    width: 180px;
    float: right;
    padding-right: 20px;
    /*margin-left: 10px;*/
}
#header .site-help h2{
    color: #666;
}
#header .site-list li{
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 90px;
    height: 13px;
    line-height: 1.4;
}
#header .site-list a:hover{
    text-decoration: underline;
}
#header .triangle:hover .menu-web{
    display: block;
}
/*header的结束*/

/*logo-search的开始*/
#logo-search{
    height: 130px;
    /*background: #ff0036;*/
}

#logo img{
    width: 240px;
    height: 130px;
    /*margin: 0 25px;*/
}
#logo,#search{
    float: left;
}
#search{
    width: 627px;
    height: 68px;
    margin-top: 38px;
    padding-left: 25px;
    /*margin-left: 25px;*/
}
#search .search-box{
    width: 491px;
    height: 32px;
    float: left;
    text-indent: 5px;
    font-size: 14px;
}
#search .search-bnt{
    width: 132px;
    height: 36px;
    background: #ff0036;
    color: #ffffff;
    font-size: 18px;
    float: left;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 5px;
}
#search input,button{
    border: 2px solid #ff0036;
    outline: none;
}
#search .hot-query{
    width: 625px;
    height: 24px;
}
#search .hot-query li{
    float: left;
    margin-top: 5px;
}
#search .hot-query a{
    padding: 0 10px;
}
#search .hot-query li:nth-child(1) > a{
    padding-left: 0;
}
#search .hot-query li:nth-child(2) > a{
    color: #ff0036;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
#search .hot-query li:nth-child(2) > a{
    color: #ff0036;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
#search .hot-query li:nth-child(4) > a{
    color: #ff0036;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
#search .hot-query li:nth-child(6) > a{
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
#search .hot-query li:nth-child(7) > a{
    color: #ff0036;
}
#search .hot-query li:nth-child(8) > a{
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
#search .hot-query li:nth-child(9) > a{
    color: #ff0036;
}
#search .hot-query a{
    color: #999999;
    font-size: 14px;
    /*margin-right: 25px;*/
}
/*logo-search的结束*/

/*content的开始*/
#content .wrapper{
    height: 35px;
    position: relative;
}
#content .main-nav img{
    height: 30px;
}
#content .main-nav{
    margin-left: 200px;
}
#content .main-nav li{
    float: left;
    font-size: 16px;
    line-height: 36px;
    margin-right: 15px;
}
#content .main-nav a{
    color: #333333;
    font-size: 16px;
}
#content .main-nav li a:hover{
    color: #ff0036;
}

/*content的结束*/

/*banner的开始*/
#banner{
    background-color: #e8e8e8;
    border-top: 2px solid #ff0036;
}
#banner .wrapper{
    height: 512px;
    background-image: url("../imgs/banner1.jpg");
}
#banner .banner-product{
    height: 548px;
    width: 200px;
    position: absolute;
    margin-top: -37px;
    margin-left: 20px;
    background-color: rgba(0,0,0,.55);
    font-size: 14px;
}
#banner .banner-product li{
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    color: #ffffff;
}
#banner .banner-product li a{
    color: #ffffff;
}
#banner .banner-product li:hover{
    background-color: #ffffff;
}
#banner .banner-product > li:nth-child(1){
    height: 36px;
}
#banner .banner-product > li:nth-child(1):hover{
    background-color: #ff0036;
}
#banner .banner-product > li:nth-child(1):hover > i{
    color: #ffffff;
}
#banner .banner-product > li:nth-child(2):hover > a{
    color: #e54077;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(2):hover > i{
    color: #e54077;
}
#banner .banner-product > li:nth-child(3):hover > a{
    color: #427def;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(3):hover > i{
    color: #427def;
}
#banner .banner-product > li:nth-child(4):hover > a{
    color: #6347ed;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(4):hover > i{
    color: #6347ed;
}
#banner .banner-product > li:nth-child(5):hover > a{
    color: #e54077;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(5):hover > i{
    color: #e54077;
}
#banner .banner-product > li:nth-child(6):hover > a{
    color: #6347ed;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(6):hover > i{
    color: #6347ed;
}
#banner .banner-product > li:nth-child(7):hover > a{
    color: #427def;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(7):hover > i{
    color: #427def;
}
#banner .banner-product > li:nth-child(8):hover > a{
    color: #fa5c5c ;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(8):hover > i{
    color: #fa5c5c ;
}
#banner .banner-product > li:nth-child(9):hover > a{
    color: #f7a831;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(9):hover > i{
    color: #f7a831;
}
#banner .banner-product > li:nth-child(10):hover > a{
    color: #f7a831;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(10):hover > i{
    color: #f7a831;
}
#banner .banner-product > li:nth-child(11):hover > a{
    color: #427def ;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(11):hover > i{
    color: #427def ;
}
#banner .banner-product > li:nth-child(12):hover > a{
    color: #dd2727;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(12):hover > i{
    color: #dd2727;
}
#banner .banner-product > li:nth-child(13):hover > a{
    color: #427def;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(13):hover > i{
    color: #427def;
}
#banner .banner-product > li:nth-child(14):hover > a{
    color: #f7a831;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(14):hover > i{
    color: #f7a831;
}
#banner .banner-product > li:nth-child(15):hover > a{
    color: #3bc7b0;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(15):hover > i{
    color: #3bc7b0;
}
#banner .banner-product > li:nth-child(16):hover > a{
    color: #dd2727;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(16):hover > i{
    color: #dd2727;
}
#banner .banner-product > li:nth-child(17):hover > a{
    color: #3bc7b0 ;
    font-weight: bold;
}
#banner .banner-product > li:nth-child(17):hover > i{
    color: #3bc7b0 ;
}
#banner .product-type{
    background-color: #ff0036;
    font-weight: bold;
    font-size: 16px;
    height: 32px;
    clear: both;
}
/*#banner .product-tp{*/
    /*position: relative;*/
/*}*/
#banner .hot-word-line{
    height: 510px;
    width: 652px;
    background: #ffffff;
    margin-left: 190px;
    margin-top: -32px;
    float: left;
    position: absolute;
    display: none;
}
#banner .banner-product > li:hover .hot-word-line{
    display: block;
}
#banner .line-title{
    width: 180px;
    height: 510px;
    /*background: #333333;*/
    float: left;
}
#banner .title-text{
    width: 180px;
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    color: #333333;
    font-weight: bold;
}
#banner .line-con{
    width: 452px;
    height: 50px;
    padding-top: 10px;
    float: left;
    color: #333333;
    display: block;
    border-bottom: 1px dotted #999999;
}
#banner .line-con li{
    float: left;
    height: 23px;
}
#banner .line-con li a{
    color: #333333;
}
#banner .line-con li a:hover{
    color: #e54077;
}
/*banner的结束*/